langchain
langchain-core
langchain-community

langchain-openai
langchain-huggingface
langchain-mistralai

openai
mistralai

huggingface_hub
transformers
sentence-transformers

faiss-cpu
chromadb

pypdf
pymupdf
unstructured

python-dotenv

fastapi
uvicorn

langgraph
langsmith

tiktoken
pandas
numpy
